
<c-container fluid class="justify-content-center">
    <div
        [ngClass]="{ 'position-center': true }"
        fxFlex="70%"
        fxFlex.sm="100%"
        fxFlex.xs="100%"
        *ngIf="isShapeLoaded()">
        <div class="mb-3">
            <label class="form-label">Selbstbeschreibungs-ID*</label>
            <input class="form-control" [value]="orgaMetadata.orgaId" [disabled]="true">
        </div>
    </div>
</c-container>

<app-base-wizard-extension #baseWizardExtension></app-base-wizard-extension>
<c-container fluid class="justify-content-center">
    <div
        [ngClass]="{ 'position-center': true }"
        fxFlex="70%"
        fxFlex.sm="100%"
        fxFlex.xs="100%"
        *ngIf="isShapeLoaded()">

        <div class="mb-3">
            <label class="form-label">Mail-Adresse*</label>
            <input class="form-control" [(ngModel)]="orgaMetadata.mailAddress">
            <div cFormText style="color: #7f7f7f;">
                <small>Mail-Adresse der Organisation</small>
            </div>
        </div>
        <div *ngIf="!isMailAddressFilled()" style="color: red">
            <small>
                Mail-Adresse ist erforderlich.
            </small>
        </div>
        <br>
        <div class="mb-3">
            <label class="form-label"> Mitgliedschaftsklasse*</label>
            <select class="form-select" [(ngModel)]="orgaMetadata.membershipClass"
                [disabled]="!activeOrgRoleService.isActiveAsFedAdmin()">
                <option value="FEDERATOR">Föderator</option>
                <option value="PARTICIPANT">Mitglied</option>
            </select>
        </div>
        <div cFormText style="color: #7f7f7f;">
            <small>Mitgliedschaftsklasse der Organisation</small>
        </div>
        <div *ngIf="!isMembershipClassFilled()" style="color: red">
            <small>
                Mitgliedschaftsklasse ist erforderlich.
            </small>
        </div>
        <br>
        <div class="mb-3">
            <label class="form-label"> Mitgliedschaftsstatus*</label>
            <select class="form-select" [(ngModel)]="orgaActiveSelection"
                [disabled]="!activeOrgRoleService.isActiveAsFedAdmin()">
                <option [value]=true>Aktiv</option>
                <option [value]=false>Inaktiv</option>
            </select>
        </div>
        <div cFormText style="color: #7f7f7f;">
            <small>Mitgliedschaftsstatus der Organisation</small>
        </div>
        <br>
        <div *ngIf="activeOrgRoleService.isActiveAsRepresentative()">
            <div>EDC Connectoren der Organisation 
                <button cButton color="primary" variant="ghost" (click)="addConnector()" size="sm">
                    <svg
                    class=""
                    cIcon
                    name="cib-addthis"
                    size="xl"
                ></svg></button></div>
            <mat-accordion>
                <mat-expansion-panel *ngFor="let connector of orgaMetadata.connectors; let i = index" [expanded]="i === 0">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div>
                                EDC Connector 
                                <button cButton variant="ghost" (click)="removeConnector(i)" color="primary" size="sm">
                                    <svg
                                    class=""
                                    cIcon
                                    name="cil-trash"
                                    size="xl"
                                ></svg></button>
                                <div *ngIf="!isConnectorValid(connector)" style="color: red">
                                    <small>
                                    Bitte überprüfen Sie die technischen Parameter dieses EDC Connectors.
                                    </small>
                                </div>
                            </div>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="mb-3">
                        <label class="form-label">Connector-ID</label>
                        <input class="form-control" [(ngModel)]="connector.connectorId" name="connectorId{{i}}">
                        <div cFormText style="color: #7f7f7f;">
                            <small>ID des EDC Connectors, eindeutig für diese Organisation.</small>
                        </div>
                        <div *ngIf="!isFieldFilled(connector.connectorId)" style="color: red">
                            <small>
                            ID des EDC Connectors ist erforderlich.
                            </small>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Connector-Endpunkt</label>
                        <input class="form-control" [(ngModel)]="connector.connectorEndpoint" name="connectorEndpoint{{i}}" placeholder="http://example.com/myedc">
                        <div cFormText style="color: #7f7f7f;">
                            <small>Basis-Endpunkt des <a href="https://github.com/merlot-education/merlot-edc">MERLOT konformen</a> EDC Connectors, unter welchem die weiteren APIs erreichbar sind.</small>
                        </div>
                        <div *ngIf="!isFieldFilled(connector.connectorEndpoint)" style="color: red">
                            <small>
                            Endpunkt des EDC Connectors ist erforderlich.
                            </small>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Connector-Access-Token</label>
                        <input class="form-control" [(ngModel)]="connector.connectorAccessToken" name="connectorAccessToken{{i}}">
                        <div cFormText style="color: #7f7f7f;">
                            <small>Zugriffs-Token (edc.api.auth.key) des EDC Connectors für die EDC-Management-API.</small>
                        </div>
                        <div *ngIf="!isFieldFilled(connector.connectorAccessToken)" style="color: red">
                            <small>
                                Zugriffs-Token des EDC Connectors ist erforderlich.
                            </small>
                        </div>
                    </div>
                    
                    <app-organisation-ionos-s3-config #ionosS3Config [connector]="connector">
                    </app-organisation-ionos-s3-config>
                    
                </mat-expansion-panel>
            </mat-accordion>
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div>
                                Signatur-Einstellungen
                            </div>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="mb-3">
                        <label class="form-label">Private Key</label>
                        <input class="form-control" [(ngModel)]="orgaMetadata.organisationSignerConfigDto.privateKey">
                        <div cFormText style="color: #7f7f7f;">
                            <small>TODO</small>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Verifizierungsmethode</label>
                        <input class="form-control" [(ngModel)]="orgaMetadata.organisationSignerConfigDto.verificationMethod">
                        <div cFormText style="color: #7f7f7f;">
                            <small>TODO</small>
                        </div>
                    </div>
                    
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</c-container>
<div class="d-flex flex-row docs-highlight mb-2 justify-content-center">
    <div class="p-2 docs-highlight">
        <button
            [disabled]="isWizardFormInvalid() || submitButtonsDisabled || isShapeLoaded() && !isOrganizationMetadataFilled()"
            cButton color="primary" (click)="checkConfirmationNeeded()">
            {{ 'Änderungen speichern' }}
        </button>
    </div>
</div>
<div class="d-flex flex-row docs-highlight mb-2 justify-content-center">
    <div class="p-2 docs-highlight">
        <app-status-message 
              [successMessage]="'Selbstbeschreibung erfolgreich gespeichert!'"
              [errorMessage]="'Fehler bei der Kommunikation mit dem GXFS-Katalog.'"
              [infoMessage]="''"
              #saveStatusMessage>
        </app-status-message>
    </div>
</div>
<c-modal #modalConfirmation id="modalConfirmation" size="xl" alignment="center">
  <ng-container>
    <c-modal-header>
    </c-modal-header>
    <c-modal-body>
        Sind Sie sich sicher, dass Sie diese Organisation von Merlot ausschließen wollen? 
        Die Organisation hat im deaktivierten Zustand keine Möglichkeit, ihre laufenden Verträge zu bearbeiten und kann diese ggf. nicht mehr erfüllen.
    </c-modal-body>
    <c-modal-footer>
        <div class="p-2 docs-highlight">
            <button cButton color="primary" [cModalToggle]="modalConfirmation.id" (click)="onSubmit()">Fortfahren</button>
        </div>
        <div class="p-2 docs-highlight">
            <button cButton color="secondary" [cModalToggle]="modalConfirmation.id">Abbrechen</button>
        </div>
    </c-modal-footer>
  </ng-container>
</c-modal>