<m-layout logoUrlWide="assets/img/brand/MERLOT_Logo_RGB.png"
  logoUrlNarrow="assets/img/brand/MERLOT_Logo_RGB.nurLogo.png"
  userAvatarUrl="/assets/img/avatars/default-user.png"
  (loginClicked)="authService.logIn()"
  (logoutClicked)="authService.logOut()"
  [navItems]="navItems"
  [isLoggedIn]="activeOrgRoleService.isLoggedIn"
  [displayName]="authService.userProfile['firstName'] + ' ' + authService.userProfile['lastName']"
  [organizationRoles]="organizationRolesForLayout"
  (selectedRoleChanged)="selectedRoleChanged($event.target)"
  [activeRole]="selectedRoleOption">
  <router-outlet></router-outlet>
</m-layout>
