<m-layout logoUrlWide="assets/img/brand/MERLOT_Logo_RGB.png"
  logoUrlNarrow="assets/img/brand/MERLOT_Logo_RGB.nurLogo.png"
  userAvatarUrl="/assets/img/avatars/default-user.png"
  (loginClicked)="authService.logIn()"
  (logoutClicked)="authService.logOut()"
  [navItems]="navItems"
  [isLoggedIn]="activeOrgRoleService.isLoggedIn"
  [displayName]="'REPLACEME'"
  [organizationRoles]="organizationRolesForLayout"
  (selectedRoleChanged)="selectedRoleChanged($event.target)"
  [activeRole]="selectedRoleOption">
  <router-outlet></router-outlet>
  <div layout-footer>
    <span class=version-tag>MERLOT MPO v{{ version }} - </span> 
    <span class=info-text>Learn more about the <a href="https://ktc.merlot-education.eu/" target="_blank">MERLOT Project</a></span>
  </div>
</m-layout>
