<div *ngIf="this.activeOrgaOfferingPage.value.content.length > 0 || applyStatusFilter">

<h1>Service Angebote meiner Organisation</h1>

<div style="padding:10px">
  <c-form-check [inline]="true" switch sizing="xl">
    <input cFormCheckInput id="filterCheck" type="checkbox" [(ngModel)]="applyStatusFilter" (change)="filterByStatus(applyStatusFilter, selectedStatusFilter)"/>
    <label cFormCheckLabel for="filterCheck">Zeige nur Angebote mit Status: </label>
  </c-form-check> <br/>
  <select class="form-select" (change)="selectedStatusFilter = $event.target.value; filterByStatus(applyStatusFilter, selectedStatusFilter)">
    <option *ngFor="let option of objectKeys(friendlyStatusNames)" [value]="option">{{friendlyStatusNames[option]}}</option>
  </select>
</div>

<c-row [xl]="3">
  <c-col xs *ngFor="let offering of this.activeOrgaOfferingPage.value.content">
    <c-card class="mb-4">
      <c-card-header><b>{{ serviceOfferingApiService.resolveFriendlyTypeName(offering.selfDescription.verifiableCredential.credentialSubject['@type']) }}</b>: {{ offering.selfDescription.verifiableCredential.credentialSubject['gax-trust-framework:name']['@value'] }}</c-card-header>
      <c-card-body>
        <c-row>
          <c-col>
            <ul class="list-group list-group-flush">
              <li class="list-group-item" style="border: none">
                <strong>Service ID:</strong> <br />
                {{ offering.selfDescription.verifiableCredential.credentialSubject['@id'] }}
              </li>
              <li class="list-group-item" style="border: none">
                <strong>Erstelldatum:</strong><br />
                {{ offering.metadata.creationDate }}
              </li>
              <li class="list-group-item" style="border: none">
                <strong>Anbieter:</strong><br />
                {{ offering.providerDetails.providerLegalName }}
              </li>
              <li class="list-group-item" style="border: none">
                <strong>Status:</strong><br />
                {{ serviceOfferingApiService.resolveFriendlyStatusName(offering.metadata.state) }}
              </li>
            </ul>
            <div style="padding: 10px">
              <button type="button" class="btn btn-primary flex-item-grow" [cModalToggle]="modalViewDetails.id" (click)="selectedOfferingPublic = false; requestDetails(offering.selfDescription.verifiableCredential.credentialSubject['@id'])">
                Details
              </button>
              <button type="button" class="btn btn-primary flex-item-grow" [cModalToggle]="modalEditServiceOffering.id" (click)="updateServiceOfferingEdit(offering)" *ngIf="offering.metadata.state === 'IN_DRAFT'">
                Bearbeiten
              </button>
            </div>
          </c-col>
        </c-row>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<app-paging-footer [currentPage]="activeOrgaOfferingPage" (pageChangeEvent)="refreshOrgaOfferings($event, ITEMS_PER_PAGE)"></app-paging-footer>

</div>


<div *ngIf="this.activePublicOfferingPage.value.content.length > 0">
<h1>Öffentliche Service Angebote</h1>

<c-row [xl]="3">
  <c-col xs *ngFor="let offering of this.activePublicOfferingPage.value.content">
    <c-card class="mb-4">
      <c-card-header><b>{{ serviceOfferingApiService.resolveFriendlyTypeName(offering.selfDescription.verifiableCredential.credentialSubject['@type']) }}</b>: {{ offering.selfDescription.verifiableCredential.credentialSubject['gax-trust-framework:name']['@value'] }}</c-card-header>
      <c-card-body>
        <c-row>
          <c-col>
            <ul class="list-group list-group-flush">
              <li class="list-group-item" style="border: none">
                <strong>Service ID:</strong> <br />
                {{ offering.selfDescription.verifiableCredential.credentialSubject['@id'] }}
              </li>
              <li class="list-group-item" style="border: none">
                <strong>Erstelldatum:</strong><br />
                {{ offering.metadata.creationDate }}
              </li>
              <li class="list-group-item" style="border: none">
                <strong>Anbieter:</strong><br />
                {{ offering.providerDetails.providerLegalName }}
              </li>
            </ul>
            <div style="padding: 10px">
              <button type="button" class="btn btn-primary flex-item-grow" *ngIf="authService.isLoggedIn" [cModalToggle]="modalViewDetails.id" (click)="selectedOfferingPublic = true; requestDetails(offering.selfDescription.verifiableCredential.credentialSubject['@id'])">
                Details
              </button>
            </div>
          </c-col>
        </c-row>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<app-paging-footer [currentPage]="activePublicOfferingPage" (pageChangeEvent)="refreshPublicOfferings($event, ITEMS_PER_PAGE)"></app-paging-footer>

</div>

<h1 *ngIf="this.activeOrgaOfferingPage.value.content.length === 0 && this.activePublicOfferingPage.value.content.length === 0">Es konnten keine Service Angebote gefunden werden.</h1>

<c-modal #modalViewDetails id="modalViewDetails" size="xl" alignment="center" (visibleChange)="handleEventDetailsModal($event)">
  <ng-container *ngIf="selectedOfferingDetails !== null">
    <c-modal-header>
      <h5 cModalTitle>Details zum Service Angebot "{{ selectedOfferingDetails.selfDescription.verifiableCredential.credentialSubject['@id'] }}"</h5>
    </c-modal-header>
    <c-modal-body>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" style="border: none">
          <strong>Angebotstyp:</strong> <br />
          {{ serviceOfferingApiService.resolveFriendlyTypeName(selectedOfferingDetails.selfDescription.verifiableCredential.credentialSubject['@type']) }}
        </li>
        <li class="list-group-item" style="border: none">
          <strong>Service ID:</strong> <br />
          {{ selectedOfferingDetails.selfDescription.verifiableCredential.credentialSubject['@id'] }}
        </li>
        <li class="list-group-item" style="border: none">
          <strong>Name:</strong> <br />
          {{ selectedOfferingDetails.selfDescription.verifiableCredential.credentialSubject['gax-trust-framework:name']['@value'] }}
        </li>
        <li class="list-group-item" style="border: none">
          <strong>Erstelldatum:</strong><br />
          {{ selectedOfferingDetails.metadata.creationDate }}
        </li>
        <li class="list-group-item" style="border: none">
          <strong>Anbieter:</strong><br />
          {{ selectedOfferingDetails.providerDetails.providerLegalName }}
        </li>
        <li class="list-group-item" style="border: none">
          <strong>Status:</strong><br />
          {{ serviceOfferingApiService.resolveFriendlyStatusName(selectedOfferingDetails.metadata.state) }}
        </li>
        <li class="list-group-item" style="border: none" *ngIf="selectedOfferingDetails.selfDescription.verifiableCredential.credentialSubject['gax-trust-framework:description']">
          <strong>Beschreibung:</strong><br />
          {{ selectedOfferingDetails.selfDescription.verifiableCredential.credentialSubject['gax-trust-framework:description']['@value'] }}
        </li>
        <li class="list-group-item" style="border: none">
          <strong>Letzte Änderung:</strong><br />
          {{ selectedOfferingDetails.metadata.modifiedDate }}
        </li>
        <li class="list-group-item" style="border: none" *ngIf="selectedOfferingDetails.selfDescription.verifiableCredential.credentialSubject['merlot:exampleCosts']">
          <strong>Beispielkosten:</strong><br />
          {{ selectedOfferingDetails.selfDescription.verifiableCredential.credentialSubject['merlot:exampleCosts']['@value'] }}
        </li>
        <li class="list-group-item" style="border: none" *ngIf="selectedOfferingDetails.selfDescription.verifiableCredential.credentialSubject['merlot:attachment']">
          <strong>Anhänge:</strong><br />
          <ul *ngFor="let attachment of selectedOfferingDetails.selfDescription.verifiableCredential.credentialSubject['merlot:attachment']">
            <li>
              <a [href]="attachment['@value']">{{ attachment['@value'] }}</a>
            </li>
          </ul>
        </li>
        <li class="list-group-item" style="border: none">
          <strong>Allgemeine Geschäftsbedingungen:</strong><br />
          <ul *ngFor="let tnc of selectedOfferingDetails.selfDescription.verifiableCredential.credentialSubject['gax-trust-framework:termsAndConditions']">
            <li>
              <a [href]="tnc.content">{{ tnc['gax-trust-framework:content']['@value'] }}</a> (Hash: {{ tnc['gax-trust-framework:hash']['@value'] }})
            </li>
          </ul>
          
        </li>
        <li class="list-group-item" style="border: none">
          <strong>Laufzeitoptionen:</strong><br />
          <ul>
            <ng-container *ngFor="let rt of selectedOfferingDetails.selfDescription.verifiableCredential.credentialSubject['merlot:runtimeOption']">
              <li>
                <ng-container *ngIf="rt['merlot:runtimeCount']['@value'] === 0 || rt['merlot:runtimeMeasurement']['@value'] === 'unlimited'; else notUnlimitedRuntime">
                  Unbegrenzt
                </ng-container>
                <ng-template #notUnlimitedRuntime>
                  {{ rt['merlot:runtimeCount']['@value'] }} {{ rt['merlot:runtimeMeasurement']['@value'] }}
                </ng-template>
              </li>
            </ng-container>
          </ul>
        </li>
        <div *ngIf="selectedOfferingDetails.selfDescription.verifiableCredential.credentialSubject['@type'] === 'merlot:MerlotServiceOfferingSaaS'">
          <li class="list-group-item" style="border: none" *ngIf="selectedOfferingDetails.selfDescription.verifiableCredential.credentialSubject['merlot:hardwareRequirements']">
            <strong>Hardware-Anforderungen:</strong><br />
            {{ selectedOfferingDetails.selfDescription.verifiableCredential.credentialSubject['merlot:hardwareRequirements']['@value'] }}
          </li>
          <li class="list-group-item" style="border: none" *ngIf="selectedOfferingDetails.selfDescription.verifiableCredential.credentialSubject['merlot:userCountOption']">
            <strong>Optionen für Anzahl erlaubter Benutzer:</strong><br />
            <ul>
              <ng-container *ngFor="let auc of selectedOfferingDetails.selfDescription.verifiableCredential.credentialSubject['merlot:userCountOption']">
                <li>
                  <ng-container *ngIf="auc['merlot:userCountUpTo']['@value'] === 0; else notUnlimitedUserCount">
                    Unbegrenzt
                  </ng-container>
                  <ng-template #notUnlimitedUserCount>
                    Bis zu {{ auc['merlot:userCountUpTo']['@value'] }} Benutzer
                  </ng-template>
                </li>
              </ng-container>
            </ul>
          </li>
        </div>
        <div *ngIf="selectedOfferingDetails.selfDescription.verifiableCredential.credentialSubject['@type'] === 'merlot:MerlotServiceOfferingDataDelivery'">
          <li class="list-group-item" style="border: none">
            <strong>Datenzugriffsart:</strong><br />
            {{ selectedOfferingDetails.selfDescription.verifiableCredential.credentialSubject['merlot:dataAccessType']['@value'] }}
          </li>
          <li class="list-group-item" style="border: none">
            <strong>Datentransferart:</strong><br />
            {{ selectedOfferingDetails.selfDescription.verifiableCredential.credentialSubject['merlot:dataTransferType']['@value'] }}
          </li>
          <li class="list-group-item" style="border: none" *ngIf="selectedOfferingDetails.selfDescription.verifiableCredential.credentialSubject['merlot:exchangeCountOption']">
            <strong>Optionen für Anzahl erlaubter Datenaustausche:</strong><br />
            <ul>
              <ng-container *ngFor="let dec of selectedOfferingDetails.selfDescription.verifiableCredential.credentialSubject['merlot:exchangeCountOption']">
                <li>
                  <ng-container *ngIf="dec['merlot:exchangeCountUpTo']['@value'] === 0; else notUnlimitedExchangeCount">
                    Unbegrenzt
                  </ng-container>
                  <ng-template #notUnlimitedExchangeCount>
                    Bis zu {{ dec['merlot:exchangeCountUpTo']['@value'] }} Datenaustausche
                  </ng-template>
                </li>
              </ng-container>
            </ul>
          </li>
        </div>
        
      </ul>
    </c-modal-body>
    <c-modal-footer>
      <button cButton color="secondary" [cModalToggle]="modalViewDetails.id">Schließen</button>
      <button type="button" class="btn btn-primary flex-item-grow" 
      *ngIf="!selectedOfferingPublic && selectedOfferingDetails.metadata.state === 'REVOKED'"
      (click)="inDraftOffering(selectedOfferingDetails.selfDescription.verifiableCredential.credentialSubject['@id'])"
      >
        Entwurf 
      </button>
      <button type="button" class="btn btn-primary flex-item-grow" 
      *ngIf="!selectedOfferingPublic && (selectedOfferingDetails.metadata.state === 'IN_DRAFT') || (selectedOfferingDetails.metadata.state === 'REVOKED')"
      (click)="releaseOffering(selectedOfferingDetails.selfDescription.verifiableCredential.credentialSubject['@id'])"
      >
        Veröffentlichen
      </button>
      <button type="button" class="btn btn-primary flex-item-grow" 
      *ngIf="!selectedOfferingPublic && selectedOfferingDetails.metadata.state === 'RELEASED'"
      (click)="revokeOffering(selectedOfferingDetails.selfDescription.verifiableCredential.credentialSubject['@id'])"
      >
        Widerrufen
      </button>
      <button type="button" class="btn btn-primary flex-item-grow" 
      *ngIf="!selectedOfferingPublic && (selectedOfferingDetails.metadata.state === 'IN_DRAFT') || (selectedOfferingDetails.metadata.state === 'REVOKED')"
      (click)="deleteOffering(selectedOfferingDetails.selfDescription.verifiableCredential.credentialSubject['@id'])"
      >
        Löschen
      </button>
      <button type="button" class="btn btn-primary flex-item-grow" 
      [cModalToggle]="modalViewDetails.id"
      *ngIf="!selectedOfferingPublic && selectedOfferingDetails.metadata.state === 'DELETED'"
      (click)="purgeOffering(selectedOfferingDetails.selfDescription.verifiableCredential.credentialSubject['@id'])"
      >
        Endgültig löschen
      </button>
      <button type="button" class="btn btn-primary flex-item-grow" 
      *ngIf="!selectedOfferingPublic && ((selectedOfferingDetails.metadata.state === 'RELEASED') || (selectedOfferingDetails.metadata.state === 'ARCHIVED') || (selectedOfferingDetails.metadata.state === 'DELETED'))"
      (click)="regenerateOffering(selectedOfferingDetails.selfDescription.verifiableCredential.credentialSubject['@id'])"
      >
        Angebot neu erstellen
      </button>
      <button type="button" class="btn btn-primary flex-item-grow" *ngIf="authService.isLoggedIn && (selectedOfferingDetails.selfDescription.verifiableCredential.credentialSubject['gax-core:offeredBy']['@id'] !== authService.activeOrganizationRole.value.orgaData.selfDescription.verifiableCredential.credentialSubject['@id'])" [cModalToggle]="'modalViewContract'" (click)="bookServiceOffering(selectedOfferingDetails.selfDescription.verifiableCredential.credentialSubject['@id'])">
        Buchen
      </button>
    </c-modal-footer>
  </ng-container>
</c-modal>

<c-modal #modalEditServiceOffering id="modalEditServiceOffering" size="xl" alignment="center" (visibleChange)="handleEventEditModal($event)">
    <c-modal-header>
      <h5 cModalTitle>Service Angebot "{{ selectedOfferingDetails?.selfDescription.verifiableCredential.credentialSubject['gax-trust-framework:name']['@value'] }}" bearbeiten</h5>
    </c-modal-header>
    <c-modal-body>
      <app-dynamic-form [file]="shaclFile"></app-dynamic-form>
    </c-modal-body>
    <c-modal-footer>
      <button cButton color="secondary" [cModalToggle]="modalEditServiceOffering.id">Schließen</button>
    </c-modal-footer>
</c-modal>

<app-contractview [offeringDetails]="selectedOfferingDetails" [contractDetails]="contractTemplate" [availableConnectors]="orgaConnectors"></app-contractview>