<style>
  strong {
    display: inline-block;
    width: 150px;
    text-align: left;
  }
</style>

<c-row>
  <c-col xs *ngFor="let offering of orgaOfferings">
    <c-card class="mb-4">
      <c-card-header>{{ offering.name }}</c-card-header>
      <c-card-body>
        <c-row>
          <c-col>
            <ul class="list-group list-group-flush">
              <li class="list-group-item" style="border: none">
                <strong>Anbieter:</strong>
                {{ offering.offeredBy }}
              </li>
              <li class="list-group-item" style="border: none">
                <strong>Status:</strong>
                {{ offering.merlotStatus }}
              </li>
              <li class="list-group-item" style="border: none">
                <strong>Verfügbar seit:</strong>
                {{ offering.statusTime }}
              </li>
              <li class="list-group-item" style="border: none">
                <strong>Beschreibung:</strong> <br />
                {{ offering.description }}
              </li>
            </ul>
            <div class="flex-container" style="padding: 10px">
              <button type="button" class="btn btn-primary disabled flex-item-grow">
                Details
              </button>
              <button type="button" class="btn btn-primary disabled flex-item-grow">
                Bearbeiten
              </button>
            </div>
          </c-col>
        </c-row>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>


<c-row>
  <c-col xs *ngFor="let offering of offerings">
    <c-card class="mb-4">
      <c-card-header>{{ offering.name }}</c-card-header>
      <c-card-body>
        <c-row>
          <c-col>
            <ul class="list-group list-group-flush">
              <li class="list-group-item" style="border: none">
                <strong>Anbieter:</strong>
                {{ offering.offeredBy }}
              </li>
              <li class="list-group-item" style="border: none">
                <strong>Verfügbar seit:</strong>
                {{ offering.statusTime }}
              </li>
              <li class="list-group-item" style="border: none">
                <strong>Beschreibung:</strong> <br />
                {{ offering.description }}
              </li>
            </ul>
            <div class="row" style="padding: 10px">
              <button type="button" class="btn btn-primary disabled">
                Details
              </button>
            </div>
          </c-col>
        </c-row>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
