
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .flex-item-grow {
    flex-grow: 1;
    margin: 10px;
  }

  strong {
    display: inline-block;
    width: 150px;
    text-align: left;
  }