<c-row>
    <c-col xs>
      <c-card class="mb-4">
        <c-card-header>Service Angebot erstellen</c-card-header>
        <c-card-body>
          <!--table
            [hover]="true"
            [responsive]="true"
            [striped]="true"
            align="middle"
            cTable
            class="mb-0 border"
          >
            <thead cTableColor="light">
              <tr>
                <th scope="col">Angebots-ID</th>
                <th scope="col">Name</th>
                <th scope="col">Anbieter</th>
                <th scope="col">Land</th>
                <th scope="col">Verfügbar seit</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody *ngFor="let offering of offerings">
              <tr>
                <th scope="row">{{ offering.id }}</th>
                <td>{{ offering.name }}</td>
                <td>{{ offering.provider }}</td>
                <td>{{ offering.country }}</td>
                <td>{{ offering.availablesince }}</td>
                <td>
                  <button style="margin: 5px;" type="button" class="btn btn-primary disabled">Edit</button>
                </td>
              </tr>
            </tbody>
          </table-->
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>