@import "../../../../../node_modules/@merlot-education/m-basic-ui/src/scss/variables_light";

.warning-symbol {
    display: block;
    margin: auto; 
    color: $merlot-red;
  }

  .warning-box {
    background-color: $merlot-blue; 
    padding:2%; 
    margin:1%;
  }