.expanded {
  padding-bottom: 10px;
  padding-top: 10px
}

.delete-button {
  margin-right: 150px;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-item-grow {
  flex-grow: 1;
}

.field-key {
  color:gray; 
  font-style: italic;
}
