<li class="list-group-item" style="border: none" *ngIf="shouldShowAttachments(contractDetails)">
<input type="file" class="file-input" [accept]="'application/pdf'"
    (change)="addAttachment($event)" [hidden]="true" #fileUpload>

<div class="file-upload">
    <strong>Vertragsspezifische Anhänge:</strong>
    <button cButton color="primary" variant="ghost" [disabled]="attachmentAddButtonDisabled" (click)="fileUpload.click()" size="sm" *ngIf="canAddAttachments(contractDetails)">
    <svg
    class=""
    cIcon
    name="cib-addthis"
    size="xl"
    ></svg></button>
</div>
<ul *ngFor="let attachment of contractDetails.negotiation.attachments;let index = index;trackBy: trackByFn">
    <li>
    <div>
        <a href="javascript:void(0);" (click)="downloadAttachment(attachment)">{{ attachment }}</a>
        <button cButton variant="ghost" [disabled]="attachmentAddButtonDisabled" (click)="deleteAttachment(attachment)" color="primary" size="sm" *ngIf="userIsActiveProvider() && isContractInDraft(contractDetails)">
        <svg
        class=""
        cIcon
        name="cil-trash"
        size="xl"
        ></svg></button>
    </div>
    </li>
</ul>
<app-status-message 
    [successMessage]="'Anhänge erfolgreich aktualisiert.'"
    [errorMessage]="'Fehler beim Speichern des Anhangs.'"
    [infoMessage]="'Anhänge werden aktualisiert.'"
    #attachmentStatusMessage>
</app-status-message>
</li>
<li class="list-group-item" style="border: none">
<strong>Laufzeit*:</strong><br />
<select class="form-select" [(ngModel)]="contractDetails.negotiation.runtimeSelection" [disabled]="contractDetails.details.state !== 'IN_DRAFT'">
    <option [value]="" *ngIf="contractDetails.negotiation.runtimeSelection === ''"></option>
    <option [ngValue]="rt['merlot:runtimeCount']['@value'] + ' ' + rt['merlot:runtimeMeasurement']['@value']" *ngFor="let rt of contractDetails.offering.selfDescription.verifiableCredential.credentialSubject['merlot:runtimeOption']">
    <ng-container *ngIf="isRuntimeUnlimited(rt); else notUnlimitedRuntime">
        Unbegrenzt
    </ng-container>
    <ng-template #notUnlimitedRuntime>
        {{ rt['merlot:runtimeCount']['@value'] }} {{ rt['merlot:runtimeMeasurement']['@value'] }}
    </ng-template>
    </option>
</select>

</li>
<div *ngIf="isSaasContract(contractDetails)">
<li class="list-group-item" style="border: none" *ngIf="contractDetails.offering.selfDescription.verifiableCredential.credentialSubject['merlot:userCountOption'] !== null">
    <strong>Anzahl erlaubter Benutzer*:</strong><br />
    <select class="form-select" [(ngModel)]="asSaasContract(contractDetails).negotiation.userCountSelection" [disabled]="!isContractInDraft(contractDetails)">
    <option [value]="" *ngIf="asSaasContract(contractDetails).negotiation.userCountSelection === ''"></option>
    <option [ngValue]="'' + auc['merlot:userCountUpTo']['@value']" *ngFor="let auc of contractDetails.offering.selfDescription.verifiableCredential.credentialSubject['merlot:userCountOption']">
        <ng-container *ngIf="auc['merlot:userCountUpTo']['@value'] === 0; else notUnlimitedUserCount">
        Unbegrenzt
        </ng-container>
        <ng-template #notUnlimitedUserCount>
        Bis zu {{ auc['merlot:userCountUpTo']['@value'] }}
        </ng-template>
    </option>
    </select>
</li>
</div>
<div *ngIf="isDataDeliveryContract(contractDetails)">
<li class="list-group-item" style="border: none" *ngIf="contractDetails.offering.selfDescription.verifiableCredential.credentialSubject['merlot:exchangeCountOption'] !== null">
    <strong>Anzahl erlaubter Datenaustausche*:</strong><br />
    <select class="form-select" [(ngModel)]="asDataDeliveryContract(contractDetails).negotiation.exchangeCountSelection" [disabled]="contractDetails.details.state !== 'IN_DRAFT'">
    <option [value]="" *ngIf="asDataDeliveryContract(contractDetails).negotiation.exchangeCountSelection === ''"></option>
    <option [ngValue]="'' + dec['merlot:exchangeCountUpTo']['@value']" *ngFor="let dec of contractDetails.offering.selfDescription.verifiableCredential.credentialSubject['merlot:exchangeCountOption']">
        <ng-container *ngIf="dec['merlot:exchangeCountUpTo']['@value'] === 0; else notUnlimitedExchangeCount">
        Unbegrenzt
        </ng-container>
        <ng-template #notUnlimitedExchangeCount>
        Bis zu {{ dec['merlot:exchangeCountUpTo']['@value'] }}
        </ng-template>
    </option>
    </select>
</li>

<li class="list-group-item" style="border: none">
<div class="mb-3">
    <label class="form-label"><strong>Zusatzvereinbarungen</strong></label>
    <input class="form-control" placeholder="Keine Zusatzvereinbarungen" 
    [disabled]="userIsActiveConsumer() || contractDetails.details.state !== 'IN_DRAFT'" 
    [(ngModel)]="contractDetails.negotiation.additionalAgreements">
</div>
</li>
 