<style>
  strong {
    display: inline-block;
    width: 180px;
    text-align: left;
  }
</style>

<c-row>
  <c-col xs *ngFor="let organization of organizations">
    <c-card class="mb-4">
      <c-card-header>{{ organization.name }}</c-card-header>
      <c-card-body>
        <c-row>
          <c-col>
            <ul class="list-group list-group-flush">
              <li class="list-group-item" style="border: none">
                <strong>Merlot ID:</strong>
                {{ organization.merlotId }} <br />
              </li>
              <li class="list-group-item" style="border: none">
                <strong>Registration Number:</strong>
                {{ organization.registrationNumber }} <br />
              </li>
              <li class="list-group-item" style="border: none">
                <strong>Registration Type:</strong>
                {{ organization.registrationType }} <br />
              </li>
              <li class="list-group-item" style="border: none">
                <strong>Country Code:</strong>
                {{ organization.countryCode }} <br />
              </li>
              <li class="list-group-item" style="border: none">
                <strong>Postal Code:</strong>
                {{ organization.postalCode }} <br />
              </li>
              <li class="list-group-item" style="border: none">
                <strong>Street:</strong>
                {{ organization.street }} <br />
              </li>
              <li class="list-group-item" style="border: none">
                <strong>Description:</strong> <br />
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                diam nonumy eirmod tempor invidunt ut labore et dolore magna
                aliquyam erat, sed diam voluptua. At vero eos et accusam et
                justo duo dolores et ea rebum.
              </li>
            </ul>
          </c-col>
          <c-col md="auto">
            <div class="row">
              <svg
                class=""
                cIcon
                name="{{ organization.iconName }}"
                size="9xl"
              ></svg>
            </div>
            <div class="row" style="padding: 10px">
              <button type="button" class="btn btn-primary">More Info</button>
            </div>
            <div class="row" style="padding: 10px">
              <button type="button" class="btn btn-primary">Contact</button>
            </div>
            <div class="row" style="padding: 10px">
              <button type="button" class="btn btn-primary">Services</button>
            </div>
            <div class="row" style="padding: 10px">
              <button type="button" class="btn btn-primary">Users</button>
            </div>  
            
          </c-col>
        </c-row>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
<!--c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>Enrolled Organizations</c-card-header>
      <c-card-body>
        <table
          [hover]="true"
          [responsive]="true"
          [striped]="true"
          align="middle"
          cTable
          class="mb-0 border"
        >
          <thead cTableColor="light">
            <tr>
              <th scope="col">Merlot ID</th>
              <th scope="col">Registration Number</th>
              <th scope="col">Registration Type</th>
              <th scope="col">Organization Name</th>
              <th scope="col">Country Code</th>
              <th scope="col">Postal Code</th>
              <th scope="col">Street</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">000001</th>
              <td>0762747721</td>
              <td>local</td>
              <td>Gaia-X European Association for Data and Cloud AISBL</td>
              <td>BE</td>
              <td>1210 BRU</td>
              <td>Avenue des Arts 6-9</td>
            </tr>
            <tr>
              <th scope="row">000002</th>
              <td></td>
              <td>local</td>
              <td>Dataport AöR</td>
              <td>D</td>
              <td>24161 Altenholz</td>
              <td>Altenholzer Straße 10-14</td>
            </tr>
            <tr>
              <th scope="row">...</th>
              <td>...</td>
              <td>...</td>
              <td>...</td>
              <td>...</td>
              <td>...</td>
              <td>...</td>
            </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row-->

<!--div *ngIf="authService.user.value.roles.includes('visitor')">I am a visitor</div>
<div *ngIf="authService.user.value.roles.includes('user')">I am a user</div>
<div *ngIf="authService.user.value.roles.includes('principal')">I am a principal</div>
<div *ngIf="authService.user.value.roles.includes('admin')">I am an admin</div-->
