
.info-message {
  max-width: 800px;
  margin: 2em auto;
  text-align: center;
}

.shape {
  width: 200px;
  height: 100px;
  margin-left: 20px;
  font-size: 16px
}

.error-request {
  text-align: center;
  margin-top: 25px;
}
