<c-modal #modalViewContract id="modalViewContract" size="xl" alignment="center" (visibleChange)="handleEventContractModal($event)">
    <c-modal-header>
      <h5 cModalTitle>Vertragskonfiguration zum Service Angebot "{{ offeringDetails.id }}"</h5>
    </c-modal-header>
    <c-modal-body>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" style="border: none">
          <strong>Vertrags-ID:</strong> <br />
          {{ contractDetails.id }}
        </li>
        <li class="list-group-item" style="border: none">
          <strong>Erstelldatum des Vertrags:</strong> <br />
          {{ contractDetails.creationDate }}
        </li>
        <li class="list-group-item" style="border: none" *ngIf="contractDetails.state === 'RELEASED'">
          <strong>Gültig bis:</strong> <br />
          {{ contractDetails.serviceContractProvisioning.validUntil }}
        </li>
        <li class="list-group-item" style="border: none">
          <strong>Vertrags-Status:</strong> <br />
          {{ contractApiService.resolveFriendlyStatusName(contractDetails.state) }}
        </li>
        <li class="list-group-item" style="border: none">
          <strong>Angebotstyp:</strong> <br />
          {{ serviceOfferingApiService.resolveFriendlyTypeName(offeringDetails.type) }}
        </li>
        <li class="list-group-item" style="border: none">
          <strong>Service ID:</strong> <br />
          {{ offeringDetails.id }}
        </li>
        <li class="list-group-item" style="border: none">
          <strong>Name des Angebots:</strong> <br />
          {{ offeringDetails.name }}
        </li>
        <li class="list-group-item" style="border: none">
          <strong>Anbieter:</strong><br />
          {{ organizationsApiService.resolveOrganizationLegalName(contractDetails.providerId) }}
        </li>
        <li class="list-group-item" style="border: none">
          <strong>Kunde:</strong><br />
          {{ organizationsApiService.resolveOrganizationLegalName(contractDetails.consumerId) }}
        </li>
        <li class="list-group-item" style="border: none" *ngIf="offeringDetails.description !== null">
          <strong>Beschreibung des Angebots:</strong><br />
          {{ offeringDetails.description }}
        </li>
        <li class="list-group-item" style="border: none" *ngIf="offeringDetails.exampleCosts !== null">
          <strong>Beispielkosten:</strong><br />
          {{ offeringDetails.exampleCosts }}
        </li>
        <li class="list-group-item" style="border: none">
          <strong>Anhänge:</strong>
          <button cButton color="primary" variant="ghost" (click)="addAttachment()" size="sm" *ngIf="userIsActiveProvider() && contractDetails.state === 'IN_DRAFT'">
            <svg
            class=""
            cIcon
            name="cib-addthis"
            size="xl"
          ></svg></button>
          <br />
          <ul *ngFor="let attachment of contractDetails.offeringAttachments;let index = index;trackBy: trackByFn">
            <li>
              <a [href]="attachment" *ngIf="userIsActiveConsumer() || contractDetails.state !== 'IN_DRAFT'">{{ attachment }}</a>
              <div *ngIf="userIsActiveProvider() && contractDetails.state === 'IN_DRAFT'" class="mb-3 flex-container">
                <input class="form-control" placeholder="Anhang" 
                  [(ngModel)]="contractDetails.offeringAttachments[index]">
                  <button cButton variant="ghost" (click)="deleteAttachment(index)" color="primary" size="sm" *ngIf="contractDetails.state === 'IN_DRAFT'">
                    <svg
                    class=""
                    cIcon
                    name="cil-trash"
                    size="xl"
                  ></svg></button>
              </div>
            </li>
          </ul>
        </li>
        <li class="list-group-item" style="border: none">
          <strong>Service-Angebot-spezifische AGB:</strong><br />
          <ul *ngFor="let tnc of offeringDetails.termsAndConditions">
            <li>
              <a [href]="tnc.content">{{ tnc.content }}</a> (Hash: {{ tnc.hash }})
            </li>
          </ul>
        </li>
        <li class="list-group-item" style="border: none">
          <strong>Anbieter AGB:</strong><br />
            <a [href]="contractDetails.providerTncUrl">{{ contractDetails.providerTncUrl }}</a>
        </li>
        <li class="list-group-item" style="border: none">
          <strong>Laufzeit*:</strong><br />
          <select class="form-select" [(ngModel)]="contractDetails.runtimeSelection" [disabled]="contractDetails.state !== 'IN_DRAFT'">
            <ng-container *ngFor="let rt of offeringDetails.runtimeOption">
              <option *ngIf="!rt.runtimeUnlimited" [value]="rt.runtimeCount + ' ' + rt.runtimeMeasurement">{{ rt.runtimeCount }} {{ rt.runtimeMeasurement }}</option>
              <option *ngIf="rt.runtimeUnlimited" [value]="'unlimited'">Unbegrenzt</option>
            </ng-container>
          </select>
          
        </li>
        <div *ngIf="offeringDetails.type === 'merlot:MerlotServiceOfferingSaaS'">
          <li class="list-group-item" style="border: none" *ngIf="offeringDetails.hardwareRequirements !== null">
            <strong>Hardware-Anforderungen:</strong><br />
            {{ offeringDetails.hardwareRequirements }}
          </li>
          <li class="list-group-item" style="border: none" *ngIf="offeringDetails.userCountOption !== null">
            <strong>Anzahl erlaubter Benutzer*:</strong><br />
            <select class="form-select" [(ngModel)]="contractDetails.userCountSelection" [disabled]="contractDetails.state !== 'IN_DRAFT'">
              <ng-container *ngFor="let auc of offeringDetails.userCountOption">
                <option *ngIf="!auc.userCountUnlimited" [value]="auc.userCountUpTo">Bis zu {{ auc.userCountUpTo }}</option>
                <option *ngIf="auc.userCountUnlimited" [value]="'unlimited'">Unbegrenzt</option>
              </ng-container>
            </select>
          </li>
        </div>
        <div *ngIf="offeringDetails.type === 'merlot:MerlotServiceOfferingDataDelivery'">
          <li class="list-group-item" style="border: none">
            <strong>Datenzugriffsart:</strong><br />
            {{ offeringDetails.dataAccessType }}
          </li>
          <li class="list-group-item" style="border: none">
            <strong>Art des Datentransfers:</strong><br />
            {{ offeringDetails.dataTransferType }}
          </li>
          <li class="list-group-item" style="border: none" *ngIf="offeringDetails.exchangeCountOption !== null">
            <strong>Anzahl erlaubter Datenaustausche*:</strong><br />
            <select class="form-select" [(ngModel)]="contractDetails.exchangeCountSelection" [disabled]="contractDetails.state !== 'IN_DRAFT'">
              <ng-container *ngFor="let dec of offeringDetails.exchangeCountOption">
                <option *ngIf="!dec.exchangeCountUnlimited" [value]="dec.exchangeCountUpTo">Bis zu {{ dec.exchangeCountUpTo }}</option>
                <option *ngIf="dec.exchangeCountUnlimited" [value]="'unlimited'">Unbegrenzt</option>
              </ng-container>
            </select>
          </li>
          <li class="list-group-item" style="border: none" *ngIf="userIsActiveProvider()">
            <div class="mb-3">
              <label class="form-label"><strong>Name der Datenadresse*</strong></label>
              <input class="form-control" placeholder="MyStorage" 
                [(ngModel)]="contractDetails.serviceContractProvisioning.dataAddressName" [disabled]="contractDetails.state !== 'IN_DRAFT' && contractDetails.state !== 'SIGNED_CONSUMER'">
            </div>
          </li>
          <li class="list-group-item" style="border: none" *ngIf="userIsActiveProvider()">
            <div class="mb-3">
              <label class="form-label"><strong>IONOS-S3 Quell-Bucket*</strong></label>
              <input class="form-control" placeholder="MyBucket1" 
                [(ngModel)]="contractDetails.serviceContractProvisioning.dataAddressSourceBucketName" [disabled]="contractDetails.state !== 'IN_DRAFT' && contractDetails.state !== 'SIGNED_CONSUMER'">
            </div>
          </li>
          <li class="list-group-item" style="border: none" *ngIf="userIsActiveProvider()">
            <div class="mb-3">
              <label class="form-label"><strong>Quell-Dateiname im IONOS-S3 Bucket*</strong></label>
              <input class="form-control" placeholder="MyFile1.json" 
                [(ngModel)]="contractDetails.serviceContractProvisioning.dataAddressSourceFileName" [disabled]="contractDetails.state !== 'IN_DRAFT' && contractDetails.state !== 'SIGNED_CONSUMER'">
            </div>
          </li>
          <li class="list-group-item" style="border: none" *ngIf="userIsActiveProvider()">
            <div class="mb-3">
              <label class="form-label"><strong>Typ der Datenadresse*</strong></label>
              <input class="form-control" placeholder="placeholder" value="IonosS3"
                [(ngModel)]="contractDetails.serviceContractProvisioning.dataAddressType" [disabled]="contractDetails.state !== 'IN_DRAFT' && contractDetails.state !== 'SIGNED_CONSUMER'">
            </div>
          </li>
  
          <li class="list-group-item" style="border: none" *ngIf="userIsActiveConsumer()">
            <div class="mb-3">
              <label class="form-label"><strong>IONOS-S3 Ziel-Bucket*</strong></label>
              <input class="form-control" placeholder="MyBucket1" 
                [(ngModel)]="contractDetails.serviceContractProvisioning.dataAddressTargetBucketName" [disabled]="contractDetails.state !== 'IN_DRAFT'">
            </div>
          </li>
          <li class="list-group-item" style="border: none" *ngIf="userIsActiveConsumer()">
            <div class="mb-3">
              <label class="form-label"><strong>Ziel-Dateiname im IONOS-S3 Bucket*</strong></label>
              <input class="form-control" placeholder="MyFile1.json" 
                [(ngModel)]="contractDetails.serviceContractProvisioning.dataAddressTargetFileName" [disabled]="contractDetails.state !== 'IN_DRAFT'">
            </div>
          </li>
        </div>
        <li class="list-group-item" style="border: none">
          <div class="mb-3">
            <label class="form-label"><strong>Zusatzvereinbarungen</strong></label>
            <input class="form-control" placeholder="Keine Zusatzvereinbarungen" 
              [disabled]="userIsActiveConsumer() || contractDetails.state !== 'IN_DRAFT'" 
              [(ngModel)]="contractDetails.additionalAgreements">
          </div>
        </li>
        

        <li class="list-group-item" style="border: none" *ngIf="userIsActiveConsumer()">
          <c-form-check inline>
            <input cFormCheckInput id="checkAGB" type="checkbox" [(ngModel)]="contractDetails.consumerProviderTncAccepted" [disabled]="contractDetails.state !== 'IN_DRAFT'"/>
            <label cFormCheckLabel for="checkAGB" style="padding-left: 10px;"><b>Anbieter AGB gelesen und akzeptiert*</b></label>
          </c-form-check>
        </li>
        <li class="list-group-item" style="border: none" *ngIf="userIsActiveConsumer()">
          <c-form-check inline>
            <input cFormCheckInput id="checkSpecificAGB" type="checkbox" [(ngModel)]="contractDetails.consumerOfferingTncAccepted" [disabled]="contractDetails.state !== 'IN_DRAFT'"/>
            <label cFormCheckLabel for="checkSpecificAGB" style="padding-left: 10px;"><b>Service-Angebot-spezifische AGB gelesen und akzeptiert*</b></label>
          </c-form-check>
        </li>
        <li class="list-group-item" style="border: none" *ngIf="userIsActiveConsumer()">
          <c-form-check inline>
            <input cFormCheckInput id="checkMerlotAGB" type="checkbox" [(ngModel)]="contractDetails.consumerMerlotTncAccepted" [disabled]="contractDetails.state !== 'IN_DRAFT'"/>
            <label cFormCheckLabel for="checkMerlotAGB" style="padding-left: 10px;"><b>Kunde: Merlot AGB gelesen und akzeptiert*</b></label>
          </c-form-check>
        </li>
        <li class="list-group-item" style="border: none" *ngIf="userIsActiveProvider()">
          <c-form-check inline>
            <input cFormCheckInput id="checkMerlotAGB" type="checkbox" [(ngModel)]="contractDetails.providerMerlotTncAccepted" [disabled]="contractDetails.state !== 'IN_DRAFT' && contractDetails.state !== 'SIGNED_CONSUMER'">
            <label cFormCheckLabel for="checkMerlotAGB" style="padding-left: 10px;"><b>Anbieter: Merlot AGB gelesen und akzeptiert*</b></label>
          </c-form-check>
        </li>
        <strong *ngIf="showErrorMessage" style="color:red">Fehler beim Speichern der Vertragskonfiguration. ({{ errorDetails }})</strong>
        <strong *ngIf="showSuccessMessage" style="color:green">Vertragskonfiguration gespeichert!</strong>
        <strong *ngIf="showEdcStatusMessage" style="color:blue">{{edcStatusMessage}}</strong>
      </ul>
    </c-modal-body>
    <c-modal-footer>
      <button cButton color="secondary" [cModalToggle]="modalViewContract.id">Schließen</button>
      <button cButton color="primary" [disabled]="saveButtonDisabled" (click)="handleButtonClick(saveContract, contractDetails)" *ngIf="contractDetails.state === 'IN_DRAFT' || (userIsActiveProvider() && contractDetails.state === 'SIGNED_CONSUMER')">Vertragsentwurf speichern</button>
      <button cButton color="primary" [disabled]="saveButtonDisabled" (click)="handleButtonClick(deleteContract, contractDetails)" *ngIf="contractDetails.state === 'IN_DRAFT'">Vertragsentwurf löschen</button> 
      <button cButton color="primary" [disabled]="saveButtonDisabled" (click)="handleButtonClick(purgeContract, contractDetails)" *ngIf="contractDetails.state === 'DELETED' && userIsActiveProvider()" [cModalToggle]="modalViewContract.id">Vertragsentwurf endgültig löschen</button> 
      <button cButton color="primary" [disabled]="saveButtonDisabled" (click)="handleButtonClick(orderContract, contractDetails)" *ngIf="contractDetails.state === 'IN_DRAFT' && userIsActiveConsumer()">Kostenpflichtig bestellen</button> 
      <button cButton color="primary" [disabled]="saveButtonDisabled" (click)="handleButtonClick(acceptOrderContract, contractDetails)" *ngIf="contractDetails.state === 'SIGNED_CONSUMER' && userIsActiveProvider()">Bestellung annehmen</button>
      <button cButton color="primary" [disabled]="saveButtonDisabled" (click)="handleButtonClick(revokeContract, contractDetails)" *ngIf="contractDetails.state === 'SIGNED_CONSUMER' || contractDetails.state === 'RELEASED'">Vertrag widerrufen</button> 
      <button cButton color="primary" [disabled]="saveButtonDisabled" (click)="handleButtonClick(archiveContract, contractDetails)" *ngIf="contractDetails.state === 'RELEASED'">Vertrag archivieren</button>  
      <button cButton color="primary" [disabled]="saveButtonDisabled" (click)="handleButtonClick(regenerateContract, contractDetails)" *ngIf="contractDetails.state === 'ARCHIVED' || contractDetails.state === 'DELETED'">Vertrag neu erstellen</button> 
      <button cButton color="primary" 
        [disabled]="saveButtonDisabled || (offeringDetails.dataTransferType === 'Push' && userIsActiveConsumer()) || (offeringDetails.dataTransferType === 'Pull' && userIsActiveProvider())" 
        (click)="initiateDataTransfer(contractDetails)" 
        *ngIf="contractDetails.type === 'DataDeliveryContractTemplate' && contractDetails.state === 'RELEASED'">
        Datentransfer starten
      </button>
    </c-modal-footer>
  </c-modal>