<style>
  strong {
    display: inline-block;
    width: 120px;
    text-align: left;
  }
</style>

<c-row>
  <c-col xs *ngFor="let user of users">
    <c-card class="mb-4">
      <c-card-header>{{ user.userFirstName }} {{ user.userLastName }}</c-card-header>
      <c-card-body>
        <c-row>
          <c-col>
            <div class="center" style="display: flex;
            justify-content: center;">
              <c-avatar
                size="xl"
                src="{{ user.avatar }}"
                status="{{ user.status }}"
                style="filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));"
              ></c-avatar>
            </div>
            <hr class="hr hr-blurry" />
            <ul class="list-group list-group-flush">
              <li class="list-group-item" style="border: none">
                <strong>Land:</strong> <br/>
                <svg
                  cIcon
                  id="{{ user.country + user.username }}"
                  name="cif{{ user.country }}"
                  size="xl"
                  title="{{ user.country }}"
                  style="filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));"
                ></svg>
              </li>
              <li class="list-group-item" style="border: none">
                <strong>Registriert seit:</strong> <br />
                {{ user.registered }}
              </li>
              <li class="list-group-item" style="border: none">
                <strong>Letzte Aktivität:</strong>  <br />
                {{ user.activity }}
              </li>
              <li class="list-group-item" style="border: none">
                <strong>Beschreibung:</strong> <br />
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                diam nonumy eirmod tempor invidunt ut labore et dolore magna
                aliquyam erat, sed diam voluptua.
              </li>
            </ul>
            <div class="row" style="padding: 10px">
              <button type="button" class="btn btn-primary disabled">Weitere Infos</button>
            </div>
          </c-col>
        </c-row>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
