<style>
  strong {
    display: inline-block;
    width: 120px;
    text-align: left;
  }
</style>

<m-grid>
  <m-card class="mb-4" *ngFor="let user of users" title="{{ user.firstName }} {{ user.lastName }}">
    <c-row>
      <c-col>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" style="border: none">
            <strong>Registriert seit:</strong> <br />
            {{ user.createdTimestamp | date: 'dd.MM.yyyy' }}
          </li>
          <li class="list-group-item" style="border: none">
            <strong>Rolle:</strong> <br />
            {{ user.orgaRole }}
          </li>
          <li class="list-group-item" style="border: none">
            <strong>E-Mail:</strong> <br />
            {{ user.email }}
          </li>
        </ul>
        <div class="row" style="padding: 10px">
          <a type="button" class="btn btn-primary" href="mailto:{{user.email}}">Kontaktieren</a>
        </div>
      </c-col>
    </c-row>
  </m-card>
</m-grid>