<c-modal #modalViewContract id="modalViewContract" size="xl" alignment="center" (visibleChange)="handleEventContractModal($event)">
    <c-modal-header>
      <h5 *ngIf="contractDetails" cModalTitle>Vertragskonfiguration zum Service Angebot "{{ contractDetails.offering.selfDescription.verifiableCredential.credentialSubject['@id'] }}"</h5>
    </c-modal-header>
    <c-modal-body>
      <ng-container *ngIf="contractDetails">
        <h3>Angebots-Details</h3>
        <app-offeringdetailview [serviceOfferingData]="contractDetails.offering" [showVariableFields]="false"></app-offeringdetailview>
        <h3>Vertrags-Details</h3>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" style="border: none">
            <strong>Vertrags-ID:</strong> <br />
            {{ contractDetails.details.id }}
          </li>
          <li class="list-group-item" style="border: none">
            <strong>Erstelldatum des Vertrags:</strong> <br />
            {{ contractDetails.details.creationDate }}
          </li>
          <li class="list-group-item" style="border: none" *ngIf="isContractReleased(contractDetails)">
            <strong>Gültig bis:</strong> <br />
            {{ contractDetails.provisioning.validUntil }}
          </li>
          <li class="list-group-item" style="border: none">
            <strong>Vertrags-Status:</strong> <br />
            {{ contractApiService.resolveFriendlyStatusName(contractDetails.details.state) }}
          </li>
          <li class="list-group-item" style="border: none">
            <strong>Anbieter:</strong><br />
            {{ contractDetails.details.providerLegalName }}
          </li>
          <li class="list-group-item" style="border: none">
            <strong>Kunde:</strong><br />
            {{ contractDetails.details.consumerLegalName }}
          </li>
          
          <li class="list-group-item" style="border: none">
            <strong>Allgemeine Geschäftsbedingungen:</strong>
            <br />
            <ul *ngFor="let tnc of contractDetails.details.termsAndConditions">
              <li>
                <a [href]="tnc.content">{{ tnc.content }}</a> (Hash: {{ tnc.hash }})
              </li>
            </ul>
          </li>
          <li class="list-group-item" style="border: none" *ngIf="shouldShowAttachments(contractDetails)">
            <input type="file" class="file-input" [accept]="'application/pdf'"
              (change)="addAttachment($event)" [hidden]="true" #fileUpload>

            <div class="file-upload">
              <strong>Anhänge:</strong>
              <button cButton color="primary" variant="ghost" (click)="fileUpload.click()" size="sm" *ngIf="canAddAttachments(contractDetails)">
                <svg
                class=""
                cIcon
                name="cib-addthis"
                size="xl"
              ></svg></button>
            </div>
            <br />
            <ul *ngFor="let attachment of contractDetails.negotiation.attachments;let index = index;trackBy: trackByFn">
              <li>
                <div>
                  <a href="javascript:void(0);" (click)="downloadAttachment(attachment)">{{ attachment }}</a>
                  <button cButton variant="ghost" (click)="deleteAttachment(attachment)" color="primary" size="sm" *ngIf="userIsActiveProvider() && isContractInDraft(contractDetails)">
                    <svg
                    class=""
                    cIcon
                    name="cil-trash"
                    size="xl"
                  ></svg></button>
                </div>
              </li>
            </ul>
            <strong *ngIf="showAttachmentErrorMessage" style="color:red">Fehler beim Speichern des Anhangs. ({{ attachmentErrorDetails }})</strong>
            <strong *ngIf="showAttachmentSuccessMessage" style="color:green">Anhänge erfolgreich aktualisiert.</strong>
          </li>
          <li class="list-group-item" style="border: none">
            <strong>Laufzeit*:</strong><br />
            <select class="form-select" [(ngModel)]="contractDetails.negotiation.runtimeSelection" [disabled]="contractDetails.details.state !== 'IN_DRAFT'">
              <option [value]="" *ngIf="contractDetails.negotiation.runtimeSelection === ''"></option>
              <option [ngValue]="rt['merlot:runtimeCount']['@value'] + ' ' + rt['merlot:runtimeMeasurement']['@value']" *ngFor="let rt of contractDetails.offering.selfDescription.verifiableCredential.credentialSubject['merlot:runtimeOption']">
                <ng-container *ngIf="isRuntimeUnlimited(rt); else notUnlimitedRuntime">
                  Unbegrenzt
                </ng-container>
                <ng-template #notUnlimitedRuntime>
                  {{ rt['merlot:runtimeCount']['@value'] }} {{ rt['merlot:runtimeMeasurement']['@value'] }}
                </ng-template>
              </option>
            </select>
            
          </li>
          <div *ngIf="isSaasContract(contractDetails)">
            <li class="list-group-item" style="border: none" *ngIf="contractDetails.offering.selfDescription.verifiableCredential.credentialSubject['merlot:userCountOption'] !== null">
              <strong>Anzahl erlaubter Benutzer*:</strong><br />
              <select class="form-select" [(ngModel)]="asSaasContract(contractDetails).negotiation.userCountSelection" [disabled]="!isContractInDraft(contractDetails)">
                <option [value]="" *ngIf="asSaasContract(contractDetails).negotiation.userCountSelection === ''"></option>
                <option [ngValue]="'' + auc['merlot:userCountUpTo']['@value']" *ngFor="let auc of contractDetails.offering.selfDescription.verifiableCredential.credentialSubject['merlot:userCountOption']">
                  <ng-container *ngIf="auc['merlot:userCountUpTo']['@value'] === 0; else notUnlimitedUserCount">
                    Unbegrenzt
                  </ng-container>
                  <ng-template #notUnlimitedUserCount>
                    Bis zu {{ auc['merlot:userCountUpTo']['@value'] }}
                  </ng-template>
                </option>
              </select>
            </li>
          </div>
          <div *ngIf="isDataDeliveryContract(contractDetails)">
            <li class="list-group-item" style="border: none" *ngIf="contractDetails.offering.selfDescription.verifiableCredential.credentialSubject['merlot:exchangeCountOption'] !== null">
              <strong>Anzahl erlaubter Datenaustausche*:</strong><br />
              <select class="form-select" [(ngModel)]="asDataDeliveryContract(contractDetails).negotiation.exchangeCountSelection" [disabled]="contractDetails.details.state !== 'IN_DRAFT'">
                <option [value]="" *ngIf="asDataDeliveryContract(contractDetails).negotiation.exchangeCountSelection === ''"></option>
                <option [ngValue]="'' + dec['merlot:exchangeCountUpTo']['@value']" *ngFor="let dec of contractDetails.offering.selfDescription.verifiableCredential.credentialSubject['merlot:exchangeCountOption']">
                  <ng-container *ngIf="dec['merlot:exchangeCountUpTo']['@value'] === 0; else notUnlimitedExchangeCount">
                    Unbegrenzt
                  </ng-container>
                  <ng-template #notUnlimitedExchangeCount>
                    Bis zu {{ dec['merlot:exchangeCountUpTo']['@value'] }}
                  </ng-template>
                </option>
              </select>
            </li>
  
            <li class="list-group-item" style="border: none" *ngIf="userIsActiveProvider()">
              <strong>Aktiver EDC Connector*:</strong><br />
              <select class="form-select" [(ngModel)]="asDataDeliveryContract(contractDetails).provisioning.selectedProviderConnectorId" [disabled]="contractDetails.details.state !== 'IN_DRAFT' && contractDetails.details.state !== 'SIGNED_CONSUMER'">
                <option [value]="" *ngIf="asDataDeliveryContract(contractDetails).provisioning.selectedProviderConnectorId === ''"></option>
                <option [value]="connector.connectorId" *ngFor="let connector of availableConnectors">
                  {{ connector.connectorId }}
                </option>
              </select>
            </li>
  
            <li class="list-group-item" style="border: none" *ngIf="userIsActiveProvider()">
              <strong>IONOS-S3 Quell-Bucket*</strong><br />
              <select class="form-select" [(ngModel)]="asDataDeliveryContract(contractDetails).provisioning.dataAddressSourceBucketName" [disabled]="contractDetails.details.state !== 'IN_DRAFT' && contractDetails.details.state !== 'SIGNED_CONSUMER'">
                <option [value]="" *ngIf="asDataDeliveryContract(contractDetails).provisioning.dataAddressSourceBucketName === ''"></option>
                <option [value]="bucket" *ngFor="let bucket of getConnectorBuckets(asDataDeliveryContract(contractDetails).provisioning.selectedProviderConnectorId)">
                  {{ bucket }}
                </option>
              </select>
            </li>
  
            <li class="list-group-item" style="border: none" *ngIf="userIsActiveProvider()">
              <div class="mb-3">
                <label class="form-label"><strong>Quell-Dateipfad im IONOS-S3 Bucket*</strong></label>
                <input class="form-control" placeholder="MyFile1.json" 
                  [(ngModel)]="asDataDeliveryContract(contractDetails).provisioning.dataAddressSourceFileName" [disabled]="contractDetails.details.state !== 'IN_DRAFT' && contractDetails.details.state !== 'SIGNED_CONSUMER'">
              </div>
            </li>
  
            <li class="list-group-item" style="border: none" *ngIf="userIsActiveProvider()">
              <strong>Typ der Datenadresse*</strong><br />
              <select class="form-select" [(ngModel)]="asDataDeliveryContract(contractDetails).provisioning.dataAddressType" [disabled]="contractDetails.details.state !== 'IN_DRAFT' && contractDetails.details.state !== 'SIGNED_CONSUMER'">
                <option [value]="" *ngIf="asDataDeliveryContract(contractDetails).provisioning.dataAddressType === ''"></option>
                <option [value]="'IonosS3'">IonosS3</option>
              </select>
            </li>
  
  
            <li class="list-group-item" style="border: none" *ngIf="userIsActiveConsumer()">
              <strong>Aktiver EDC Connector*:</strong><br />
              <select class="form-select" [(ngModel)]="asDataDeliveryContract(contractDetails).provisioning.selectedConsumerConnectorId" [disabled]="contractDetails.details.state !== 'IN_DRAFT'">
                <option [value]="" *ngIf="asDataDeliveryContract(contractDetails).provisioning.selectedConsumerConnectorId === ''"></option>
                <option [value]="connector.connectorId" *ngFor="let connector of availableConnectors">
                  {{ connector.connectorId }}
                </option>
              </select>
            </li>
  
            <li class="list-group-item" style="border: none" *ngIf="userIsActiveConsumer()">
              <strong>IONOS-S3 Ziel-Bucket*</strong><br />
              <select class="form-select" [(ngModel)]="asDataDeliveryContract(contractDetails).provisioning.dataAddressTargetBucketName" [disabled]="contractDetails.details.state !== 'IN_DRAFT'">
                <option [value]="" *ngIf="asDataDeliveryContract(contractDetails).provisioning.dataAddressTargetBucketName === ''"></option>
                <option [value]="bucket" *ngFor="let bucket of getConnectorBuckets(asDataDeliveryContract(contractDetails).provisioning.selectedConsumerConnectorId)">
                  {{ bucket }}
                </option>
              </select>
            </li>
  
            <li class="list-group-item" style="border: none" *ngIf="userIsActiveConsumer()">
              <div class="mb-3">
                <label class="form-label"><strong>Ziel-Dateipfad im IONOS-S3 Bucket*</strong></label>
                <input class="form-control" placeholder="MyFile1.json" 
                  [(ngModel)]="asDataDeliveryContract(contractDetails).provisioning.dataAddressTargetFileName" [disabled]="contractDetails.details.state !== 'IN_DRAFT'">
              </div>
            </li>
  
          </div>
          <li class="list-group-item" style="border: none">
            <div class="mb-3">
              <label class="form-label"><strong>Zusatzvereinbarungen</strong></label>
              <input class="form-control" placeholder="Keine Zusatzvereinbarungen" 
                [disabled]="userIsActiveConsumer() || contractDetails.details.state !== 'IN_DRAFT'" 
                [(ngModel)]="contractDetails.negotiation.additionalAgreements">
            </div>
          </li>
          
  
          <li class="list-group-item" style="border: none" *ngIf="userIsActiveConsumer()">
            <c-form-check inline>
              <input cFormCheckInput id="checkAGB" type="checkbox" [(ngModel)]="contractDetails.negotiation.consumerTncAccepted" [disabled]="contractDetails.details.state !== 'IN_DRAFT'"/>
              <label cFormCheckLabel for="checkAGB" style="padding-left: 10px;"><b>Allgemeine Geschäftsbedingungen des Service-Angebotes & des Merlot Marktplatzes gelesen und akzeptiert*</b></label>
            </c-form-check>
          </li>
          <li class="list-group-item" style="border: none" *ngIf="userIsActiveConsumer() && hasContractAttachments(contractDetails)">
            <c-form-check inline>
              <input cFormCheckInput id="checkSpecificAGB" type="checkbox" [(ngModel)]="contractDetails.negotiation.consumerAttachmentsAccepted" [disabled]="contractDetails.details.state !== 'IN_DRAFT'"/>
              <label cFormCheckLabel for="checkSpecificAGB" style="padding-left: 10px;"><b>Anlagen des Vertrages gelesen und akzeptiert*</b></label>
            </c-form-check>
          </li>
          <li class="list-group-item" style="border: none" *ngIf="userIsActiveProvider()">
            <c-form-check inline>
              <input cFormCheckInput id="checkMerlotAGB" type="checkbox" [(ngModel)]="contractDetails.negotiation.providerTncAccepted" [disabled]="contractDetails.details.state !== 'IN_DRAFT' && contractDetails.details.state !== 'SIGNED_CONSUMER'">
              <label cFormCheckLabel for="checkMerlotAGB" style="padding-left: 10px;"><b>Allgemeine Geschäftsbedingungen des Service-Angebotes & des Merlot Marktplatzes gelesen und akzeptiert*</b></label>
            </c-form-check>
          </li>
          <strong *ngIf="showErrorMessage" style="color:red">Fehler beim Speichern der Vertragskonfiguration. ({{ errorDetails }})</strong>
          <strong *ngIf="showSuccessMessage" style="color:green">Vertragskonfiguration gespeichert!</strong>
          <strong *ngIf="showEdcStatusMessage" style="color:blue">{{edcStatusMessage}}</strong>
        </ul>
      </ng-container>
    </c-modal-body>
    <c-modal-footer>
      <ng-container *ngIf="contractDetails">
        <button cButton color="secondary" [cModalToggle]="modalViewContract.id">Schließen</button>
        <button cButton color="primary" [disabled]="saveButtonDisabled" (click)="handleButtonClick(saveContract, contractDetails)" *ngIf="shouldShowSaveButton(contractDetails)">Vertragsentwurf speichern</button>
        <button cButton color="primary" [disabled]="saveButtonDisabled" (click)="handleButtonClick(deleteContract, contractDetails)" *ngIf="shouldShowDeleteButton(contractDetails)">Vertragsentwurf löschen</button> 
        <button cButton color="primary" [disabled]="saveButtonDisabled" (click)="handleButtonClick(purgeContract, contractDetails)" *ngIf="shouldShowPurgeButton(contractDetails)" [cModalToggle]="modalViewContract.id">Vertragsentwurf endgültig löschen</button> 
        <button cButton color="primary" [disabled]="saveButtonDisabled" (click)="handleButtonClick(orderContract, contractDetails)" *ngIf="shouldShowOrderButton(contractDetails)">Kostenpflichtig bestellen</button> 
        <button cButton color="primary" [disabled]="saveButtonDisabled" (click)="handleButtonClick(acceptOrderContract, contractDetails)" *ngIf="shouldShowAcceptButton(contractDetails)">Bestellung annehmen</button>
        <button cButton color="primary" [disabled]="saveButtonDisabled" (click)="handleButtonClick(revokeContract, contractDetails)" *ngIf="shouldShowRevokeButton(contractDetails)">Vertrag widerrufen</button> 
        <button cButton color="primary" [disabled]="saveButtonDisabled" (click)="handleButtonClick(archiveContract, contractDetails)" *ngIf="shouldShowArchiveButton(contractDetails)">Vertrag archivieren</button>  
        <button cButton color="primary" [disabled]="saveButtonDisabled" (click)="handleButtonClick(regenerateContract, contractDetails)" *ngIf="shouldShowRegenerateButton(contractDetails)">Vertrag neu erstellen</button> 
        <button cButton color="primary" 
          [disabled]="saveButtonDisabled || isDataTransferDisabled(contractDetails)" 
          (click)="initiateDataTransfer(contractDetails)" 
          *ngIf="isDataTransferButtonVisible(contractDetails)">
          Datentransfer starten
        </button>
      </ng-container>
    </c-modal-footer>
  </c-modal>