<app-dynamic-form [file]="shaclFile" #wizard></app-dynamic-form>
<div class="d-flex flex-row docs-highlight mb-2 justify-content-center">
    <div class="p-2 docs-highlight">
        <button
        [disabled]="wizard.form.invalid || submitButtonsDisabled"
        cButton 
        color="primary"
        (click)="onSubmit(false)"
        >
        {{ 'Änderungen speichern' }}
        </button>
    </div>
    <div class="p-2 docs-highlight">
        <button
        *ngIf="filteredShapes && filteredShapes[0].name !== 'MerlotOrganization'"
        [disabled]="wizard.form.invalid || submitButtonsDisabled"
        cButton 
        color="primary"
        (click)="onSubmit(true)"
        >
        Veröffentlichen
        </button>
    </div>
</div>
<div class="d-flex flex-row docs-highlight mb-2 justify-content-center">
    <div class="p-2 docs-highlight">
        <app-status-message 
              [successMessage]="'Selbstbeschreibung erfolgreich gespeichert!'"
              [errorMessage]="'Fehler bei der Kommunikation mit dem GXFS-Katalog.'"
              [infoMessage]="''"
              #saveStatusMessage>
        </app-status-message>
    </div>
</div>