<style>
    strong {
        display: inline-block;
        width: 180px;
        text-align: left;
    }
</style>

<c-row>
    <c-col xs>
        <c-card class="mb-4">
            <c-card-body>
                <img cImg height="200" cCardImg="top" src="../../../assets/img/brand/Merlot_Title.svg"
                    alt="MERLOT Title" />
                <br /><br /><br /><br />

                <h5 cCardTitle>Neue Organisation als Mitglied hinzufügen</h5>
                Um die Mitgliedschaft einer Organisation zu genehmigen, importieren Sie bitte den Aufnahmeantrag
                (PDF-Datei) und bestätigen Sie die Aufnahme der Organisation.
                <br /><br />

                <c-row>
                    <input type="file" class="file-input" [accept]="'application/pdf'"
                        (change)="importRegistrationForm($event)" [hidden]="true" #fileUpload>
                    <c-col>
                        <button id="import-button" cButton color="primary" style="margin: 10px;"
                            (click)="fileUpload.click(); hideAllMessages()">
                            Aufnahmeantrag importieren
                        </button>
                        <div style="margin: 10px;"><strong>Ausgewählte Datei: </strong>{{currentFile === null ? 'Keine
                            Datei ausgewählt.' : currentFile.name}}
                            <app-status-message 
                                [successMessage]="'Aufnahmeantrag erfolgreich importiert.'"
                                [errorMessage]="'Fehler beim Importieren des Aufnahmeantrags.'"
                                [infoMessage]="'Aufnahmeantrag wird importiert.'" 
                                #importStatusMessage>
                            </app-status-message>
                        </div>
                    </c-col>
                </c-row>
                <c-row>
                    <c-col>
                        <button id="add-button" cButton color="primary" style="margin: 10px;"
                            (click)="addOrganization()" [disabled]="!isFileValid">
                            Organisation aufnehmen
                        </button>
                        <div style="margin: 10px;"><app-status-message
                                [successMessage]="'Organisation erfolgreich hinzugefügt.'"
                                [errorMessage]="'Fehler beim Hinzufügen der Organisation.'"
                                [infoMessage]="'Organisation wird hinzugefügt.'" 
                                #addStatusMessage>
                            </app-status-message></div>
                    </c-col>
                </c-row>