<<<<<<< HEAD
name: Continuous Integration

on:
  push:
    branches:
      - 'main'
=======
name: Quality Gateway

on:
  pull_request:
    branches:
      - main
>>>>>>> add pull request workflow

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v3
        with:
          node-version: 18
      
      - run: npm ci

      - run: npm test
      